.inputStyle {
  margin-bottom: 24px;
}
.indicatorContainer {
  padding: 32px 0 0px 0;
}
.successIndicator {
  margin-right: 12px;
}
.addBtn {
  padding: 0px 0px 0 28px;
}

.btnStyle {
  background-color: #dcf4e4;
  width: fit-content;
  padding: 12px 6px;
  margin-left: 8px;
}
.hrLine {
  border-bottom: 3px solid #000;
  width: 20px;
}
.selectStyle {
  padding: 12px 16px;
  width: 100%;
  border-radius: 4px;
  border-color: #cccccc;
  color: #fff;
}
.select select {
  appearance: none;
}
.selectStyle:hover {
  border: 1px solid #1890ff;
}
.selectTagContainer {
  padding: 24px;
}
.valueText {
  text-transform: capitalize;
  width: fit-content;
  position: absolute;
  left: 16px;
  top: 36px;
}
.segmentNameContainer {
  padding: 24px 24px 0px;
}
.selectFlexContainer {
  position: relative;
  padding-top: 24px;
}
.from{
  overflow: overlay;
  padding-bottom: 90px;
}
