.overAll {
  background-color: #4036367a;
  width: 100%;
  position: fixed;
}
.sideNav {
  background-color: #ffff;
  width: 400px;
  right: 0;
  height: 100%;
  position: absolute;
}
.inputStyle {
  margin-bottom: 24px;
}
.inputContainer {
  margin: 32px 32px 32px 16px;
}
.indicatorContainer {
  padding: 32px 0 32px 0;
}
.addBtn{
  padding: 16px 0px 0 28px;
}
